In [97]:
import pandas as pd

df = pd.read_csv('data/DriverTraining-ForInClassLearning-2024.csv')
df
# print(df.to_string())

,class_date,city,state,zip_code,dob,gender
0,8/17/24,Richburg,South Carolina,29729,11/30/07,Male
1,8/10/24,Bluffton,South Carolina,29910-7957,10/16/07,Male
2,8/14/24,Hampton,South Carolina,29924,7/3/08,Female
3,8/9/24,Columbia,South Carolina,29210,10/10/06,Female
4,8/17/24,Irmo,South Carolina,29063,12/23/06,Female
...,...,...,...,...,...,...
16895,2/25/23,Chesnee,South Carolina,29323,11/16/05,Female
16896,2/4/23,Greenville,South Carolina,29607,5/22/07,Male
16897,2/4/23,Greenwood,South Carolina,29649,7/15/06,Female
16898,2/8/23,Boiling Springs,South Carolina,29316,2/17/06,Male
16899,2/18/23,Lake Wylie,South Carolina,29710,1/30/07,Male

# a)

## 1.

In [98]:
100*(df.isnull().sum())/len(df)

class_date    0.000000
city          0.035503
state         0.035503
zip_code      0.035503
dob           0.786982
gender        1.337278
dtype: float64

## 2.

Most of the issues are with missing data, but some area codes are extended, and some cities have different capitalization or punctuation.
To solve the inconsistencies witht the cities we can make all cities lower case and remove punctuation.
For extended zip codes we can trim anything coming after a dash.
For missing values, the row can be removed if we are looking at that value specifically.

One minor issue is that the dates have two digit years which doesnt really play well with the library I'm using so I fixed that below.

In [139]:
from datetime import datetime
def formatDate(date):
    if (not isinstance(date, str)):
        return
    date_split = date.split('/')
    # Y2K 0_0
    prefix = '20'
    if (int(date_split[2]) > 24):
        prefix = '19'
    return date[:len(date) - 2] + prefix + date[len(date) - 2:]

for _, row in df.iterrows():
    row['class_date'] = formatDate(row['class_date'])        
    row['dob'] = formatDate(row['dob'])

# b)

## 1.

In [138]:
from dateutil.parser import parse

# Ignore all null genders
mfDf = df[~df['gender'].isnull()]
mPercent = 100*len(mfDf[mfDf['gender'] == 'Male'])/len(mfDf)
fPercent = 100*len(mfDf[mfDf['gender'] == 'Female'])/len(mfDf)
print('All Data:')
print('Percent male:   ', mPercent)
print('Percent female: ', fPercent)

pd.options.mode.chained_assignment = None
# Ignore all null DOB
mfDf = mfDf[~mfDf['dob'].isnull()]
mfDf["class_date"] = mfDf["class_date"].apply(lambda x: parse(x))
mfDf["dob"] = mfDf["dob"].apply(lambda x: parse(x))
g = mfDf.groupby(pd.Grouper(key='class_date', freq='ME'))
dfs = [group for _, group in g]
# Don't feel like doing this the right way
month = 1
dfsByMonth = [0] * 12
for frame in dfs:
    if (month == 12):
        month = 0
    if (isinstance(dfsByMonth[month], int)):
        dfsByMonth[month] = frame
    else:
        dfsByMonth[month] = pd.concat([dfsByMonth[month], frame])
    month += 1

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
for idx, monthDf in enumerate(dfsByMonth):
    mPerc = 100*len(monthDf[monthDf['gender'] == 'Male'])/len(monthDf)
    fPerc = 100*len(monthDf[monthDf['gender'] == 'Female'])/len(monthDf)
    print('')
    print(months[idx], ':')
    print('Percent male:   ', mPerc)
    print('Percent female: ', fPerc)

All Data:
Percent male:    50.875614729519015
Percent female:  49.124385270480985

Jan :
Percent male:    49.740932642487046
Percent female:  50.259067357512954

Feb :
Percent male:    52.13358070500928
Percent female:  47.86641929499072

Mar :
Percent male:    51.05740181268882
Percent female:  48.94259818731118

Apr :
Percent male:    51.69683257918552
Percent female:  48.30316742081448

May :
Percent male:    50.06119951040392
Percent female:  49.93880048959608

Jun :
Percent male:    47.78459441036128
Percent female:  52.21540558963872

Jul :
Percent male:    49.11504424778761
Percent female:  50.88495575221239

Aug :
Percent male:    52.19072164948454
Percent female:  47.80927835051546

Sept :
Percent male:    51.486486486486484
Percent female:  48.513513513513516

Oct :
Percent male:    57.08582834331337
Percent female:  42.91417165668663

Nov :
Percent male:    48.72389791183295
Percent female:  51.27610208816705

Dec :
Percent male:    54.2654028436019
Percent female:  45.7345971563981

I don't see an overall pattern, but there seem to be much more males in Oct and Dec

## 2.